<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=PATRICIA\SQLEXPRESS;Database=ClinicaMedicala;Integrated Security=true"/>
	</connectionStrings>
	<appSettings>
		<add key="ParentTableName" value="Producatori" />
		<add key="ChildTableName" value="Halate" />
		<add key="ParentColumnNames" value="id,denumire,oras" />
		<add key="ChildColumnNames" value="id,producator" />
		<add key="ParentID" value="id" />
		<add key="ChildID" value="id" />
		<add key="InsertQuery" value="INSERT INTO Halate(producator) VALUES (@producator)" />
		<add key="UpdateQuery" value="UPDATE Halate SET producator=@producator WHERE id=@id" />
		<add key="DeleteQuery" value="DELETE FROM Halate WHERE id=@id" />
		<add key="InsertCommandParameters" value="@id,@producator" />
		<add key="UpdateCommandParameters" value="@id,@producator" />
		<add key="ParentSelect" value="SELECT * FROM Producatori" />
		<add key="ChildSelect" value="SELECT * FROM Halate WHERE producator=@id" />
	</appSettings>
</configuration>